body {
    padding-top: 120px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg'); 
    background-size: cover; 
    background-position: center; 
}

a {
    display: inline-block; 
    padding: 10px 20px;
    border-radius: 5px; 
    text-decoration: none; 
    margin: 5px; 
}

a:hover {
    opacity: 0.9; 
}

.btn-email, .btn-telegram {
    background-color: #f0f0f0; 
    color: #333; 
}

.btn-email, .btn-telegram {
    width: auto;
    max-width: 400px; 
    text-align: center; 
}

.btn-github {
    background-color: #211F1F; 
    color: white; 
    width: 200px; 
    text-align: center; 
}

.header-container {
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    margin-bottom: 20px;
}

.header-text {
    margin-top: 30px;
    margin-left: 20px; 
    text-align: center;
    flex-grow: 1; 
    font-size: 1.1em; 
    color: #333; 
    margin-bottom: 10px;
}

.profile-photo {
    display: block;
    margin-left: 14%; 
    width: 10%; 
    aspect-ratio: 1/1;
    border-radius: 50%; 
    object-fit: cover;
}

.resume {
    width: 80%;
    margin: 20px auto;
    background: linear-gradient(to bottom right, #ffffff, #dddebf); 
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

header {
    margin-top: 40px; 
    text-align: center;
    border-bottom: 2px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

section {
    padding: 20px 0; 
    margin: 40px 0; 
    padding-top: 130px; 
    margin-top: -130px; 
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #333;
}

section h2 {
    text-align: center; 
    margin-left: 0; 
    margin-bottom: 30px; 
    font-size: 2em; 
    color: #fff; 
    background-color: #2b2b2b;
    padding: 7px; 
    border-radius: 1000px;
}

h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 10px;
}

h3 {
    margin-left: 70px; 
    margin-right: 70px;
    font-size: 1.4em;
    color: #080707;
    margin-bottom: 10px;
}

header p {
    margin: 5px 0;
    font-size: 1em;
    color: #666;
}

p {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 1em;
    color: #171616;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 10px;
}

ul li {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 1em;
    color: #0f0e0e;
    margin-bottom: 5px;
}
